main.contact > div.container {
    max-width: 42ch;
    color: black;
    margin-left: 5vw;
    margin-right: 5vw;
}

body.contact {
    min-height: 600px;
    height: 100vh;
}

footer.absolute {
    position: absolute;
    height: fit-content;
    top: auto;
}

#email_contact {
    color: black;
}

.sosial_logo {
    height: 40px;
    display:block;
    float: left;
    padding: 0.4rem 0.3rem;
    margin: 0 auto;
}

a.logo {
    Color: black;
    font-weight: bold;
}

.center_logo {
    width: 191px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

main.contact > div > h1,h2{
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.container {
    margin-bottom: 4rem;
}

@media only screen and (max-width: 624px) {
    .container {
        margin-bottom: 2rem;
    }
}