#img_me {
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    margin: 5px 5px 5px auto;
    float: right;
}

h1 {
    display: inline-block;
    width: auto;
}

.photobox {
    height: 147px;
}
div.hplinks {
    margin-bottom: 3rem;
   }

   a.hplinks {
       vertical-align: top;
   }

.hpcircle {
    background-color: rgb(255, 13, 13);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    top: 4vh;
    justify-content: center;
    position: relative;
}

.hpcircle:hover {
    box-shadow: 5px 5px rgb(187, 186, 186);
    color: white;
}

.circle {
    font-size: 1rem;
    margin-left: 0;
    justify-content: center;
    margin-top: 1.7rem;
}

.resume > p {
    margin-left: 1rem;
}

div.quote {
    width: 58ch;
}

p.quote {
    font-family: 'Spectral', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
}
p.quote_author {
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;
}

.resume > h1 {
    text-align: left;
    margin-left: 1rem;
}


main > div > h1,h2{
    font-family: 'Karla', sans-serif;
    text-align: center;
}

@media only screen and (max-width: 624px) {
    
    div.quote {
        width: auto;
    }

}

@media only screen and (max-width: 400px) {
    #img_me {
        display: block;
        float: none;
        margin: 0 auto;
        padding-top: 15px;
    }
    .photobox {
        height: 200px;
        
    }
    h1 {
        display: block;
        margin-top: 8px;
    }
}
